<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="home">Gem BOT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="portofolio">Portofolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="bot">BOT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Feedback">Feedback</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="deskripsi_layanan">
        <div class="container">
            <div class="row">
                <div class="deskripsi">
                    <h4>
                        Gem BOT
                    </h4>
                    <div class="deskripsi2 text-center">
                        <p>
                            Gem BOT merupakan sebuah chatbot web yang kami rancang sedemikian rupa agar
                            memudahkan pengguna untuk lebih mengetahui prodi Teknik Informatika yang ada di
                            Universitas Malikussaleh.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="armada">
        <div class="dimiliki">
            <h2>
                <br>
                <b>Member of PenHill's Team</b>
            </h2>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <div class="card_mobil">
                    <div class="card">
                        <img src="/static/images/animasi.jpg" alt="Marlina Sari">
                        <div class="card-body">
                            <h5 class="card-title">Marlina Sari</h5>
                            <p class="card-text">Mahasiswa</p>
                            <p class="card-text">Prodi Teknik Informatika</p>
                            <p class="card-text">Molusca class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_member">
                    <div class="card">
                        <img src="/static/images/us/animasi.jpg" alt="Rodiatul Adawiyah Dalimunthe">
                        <div class="card-body">
                            <h5 class="card-title">Rodiatul Adawiyah Dalimunthe</h5>
                            <p class="card-text">Mahasiswa</p>
                            <p class="card-text">Prodi Teknik Informatika</p>
                            <p class="card-text">Sycamore class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_member">
                    <div class="card">
                        <img src="/static/images/us/animasi.jpg" alt="Roslaini">
                        <div class="card-body">
                            <h5 class="card-title">Roslaini</h5>
                            <p class="card-text">Mahasiswa</p>
                            <p class="card-text">Prodi Teknik Informatika</p>
                            <p class="card-text">Sycamore class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card_member">
                    <div class="card">
                        <img src="/static/images/us/animasi.jpg" alt="Violita Aditya Zahrah">
                        <div class="card-body">
                            <h5 class="card-title">Violita Aditya Zahrah</h5>
                            <p class="card-text">Mahasiswa</p>
                            <p class="card-text">Prodi Teknik Informatika</p>
                            <p class="card-text">Sycamore class</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    </div>
    </div>
    <br>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Gem BOT</b></h3>
                    </div>
                    <p>
                        Gem BOT adalah sebuah web chatbot yang akan memberikan informasi mengenai prodi
                        Teknik Informatika Universitas Malikussaleh
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Menu</b></h3>
                    </div>
                    <div class="konten">
                        <p><a class="link_medsos" href="home">Home</a></p>
                        <p><a class="link_medsos" href="about">About Us</a></p>
                        <p><a class="link_medsos" href="portofolio">Portofolio</a></p>
                        <p><a class="link_medsos" href="blog">Blog</a></p>
                        <p><a class="link_medsos" href="bot">BOT</a></p>
                        <p><a class="link_medsos" href="Feedback">Feedback</a></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Alamat</b></h3>
                    </div>
                    <p>
                        JL. Kampus Unimal Bukit Indah Blang Pulo, Kec. Muara Satu, Kabupaten Aceh Utara
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Media Sosial</b></h3>
                    </div>
                    <div class="tabel_a">
                        <div class="tabel1">
                            <table>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="/static/images/medsos/instagram.png" alt="" width="30px"
                                                height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos"
                                                href="https://www.instagram.com/teknikinformatika_unimal/"
                                                target="_blank">teknikinformatika_unimal</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="/static/images/medsos/email.png" alt="" width="30px"
                                                height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos" href="http://mail.google.com/"
                                                target="_blank">informatika@unimal.ac.id</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-4 bg-dark">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="#">Gem BOT</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>