<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous" />
    <title>Mahasiswa Teknik Informatika Gelar Pelatihan Karya Tulis Ilmiah</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="home">Gem BOT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="portofolio">Portofolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="bot">BOT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Feedback">Feedback</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="container text-center">
        <div class="row">
            <!--Header Berita1-->
            <div class="col-sm-9">
                <div class="header1">
                    <h2 align="center">Mahasiswa Teknik Informatika Gelar Pelatihan Karya Tulis Ilmiah</h2>
                    <p class="tanggal card-text" align="center"><small class="text-muted">31 January 2021</small></p>
                    <center><img src="/static/images/berita/1.jpg " class="berita1 img-fluid rounded-start" alt="...">
                    </center>
                </div>

                <!--Isi Berita1-->
                <div class="isiberita">
                    <p>
                        <b>UNIMALNEWS | Lhokseumawe -</b> Himpunan Mahasiswa Teknik Informatika (Himatif) Fakultas
                        Teknik Universitas Malikussaleh menggelar pelatihan online
                        penulisan karya tulis ilmiah, Sabtu (30/1/2021).
                        Pelatihan tersebut mengusung tema “Membentuk Mahasiswa Teknik Informatika Sebagai Intelektual
                        yang Berwawasan dan
                        Terampil dalam Membuat Karya Tulis Ilmiah”. Pelatihan tersebut diikuti sebanyak 100 peserta dari
                        Teknik Informatika
                        Universitas Malikussaleh.
                    </p>

                    <p>
                        Pemateri, Juni Ahyar M Pd, antara lain menjelaskan bagaimana melahirkan karya tulis ilmiah yang
                        baik. Menurutnya, karya
                        tulis harus memiliki referensi dan kutipan yang jelas bukan dan hanya copy paste sana sini tanpa
                        ada referensi.
                    </p>

                    <p>
                        “Selain itu, mahasiswa harus bisa menyampaikan pikiran dan gagasannya dengan bahasa tulis yang
                        mudah dipahami,” ujar
                        dosen yang antara lain mengajar bahasa Indonesia tersebut. Juni mengharapkan kegiatan seperti
                        ini bisa dilaksanakan secara berkelanjutan agar mahasiswa terlatih dan profesional
                        dalam menulis karya ilmiah sehingga mudah dalam mengikuti kegiatan perlombaan penulisan yang
                        diadakan oleh Dikti dan
                        berbagai lembaga lainnya. “Dan bisa cepat selesai dalam menyelesaikan skripsi,” ujar Juni Ahyar.
                    </p>

                    <p>
                        Ketua Himatif, Lamkurana Rizka, berharap setelah selesai acara mahasiswa Teknik Informatika
                        dapat membuat karya tulis
                        ilmiah yang bermanfaat untuk Program Studi Teknik Informatika.
                    </p>

                    <p>
                        Sementara Sekretaris Jurusan Teknik Informatika Universitas Malikussaleh, Zara Yunizar M Kom
                        mengatakan penulisan ide
                        saja bisa dihargai oleh orang lain. Untuk itu, ia mengingatkan pelatihan karya tulis ilmiah
                        sangat bermanfaat untuk
                        kesesuaian penulisan baik laporan kerja praktek, skripsi, dan laporan lainnya.
                    </p>

                    <p>
                        “Menurut saya kegiatan ini bertujuan untuk menghasilkan mahasiswa yang mampu membuat karya tulis
                        ilmiah yang
                        berkualitas. Ke depan para peserta memiliki karya tulis yang bermutu dan bermanfaat bagi
                        mahasiswa lain,” harap Zara
                        Yunizar. [ayi]
                    </p>

                    <a class="btn btn-primary" href="Blog.html" role="button">Kembali</a>
                </div>
            </div>

            <!--Berita disamping-->
            <div class="sidenews col-sm-3">
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/beritautama.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita_utama" style="text-decoration: none; color:black;">Rektor
                                Unimal Kukuhkan Dua Guru Besar Ilmu
                                Tanah dan Teknik Informatika</a></h5>
                        <p class="card-text"><small class="text-muted">12 March 2022</small></p>
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita2" style="text-decoration: none; color:black;">Teknik
                                Informatika Unimal Laksanakan Ujian Skripsi Secara Online</a></h5>
                        <p class="card-text"><small class="text-muted">13 April 2020</small></p>
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita3" style="text-decoration: none; color:black;">
                                HEBAT
                                !!! MAHASISWA TEKNIK INFORMATIKA UNIMAL MERAIH JUARA II LOMBA WEB DESIGN
                                PELINDO III DI SURABAYA</a></h5>
                        <p class="card-text"><small class="text-muted">17 February 2017</small></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Gem BOT</b></h3>
                    </div>
                    <p>
                        Gem BOT adalah sebuah web chatbot yang akan memberikan informasi mengenai prodi
                        Teknik Informatika Universitas Malikussaleh
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Menu</b></h3>
                    </div>
                    <div class="konten">
                        <p><a class="link_medsos" href="home">Home</a></p>
                        <p><a class="link_medsos" href="about">About Us</a></p>
                        <p><a class="link_medsos" href="portofolio">Portofolio</a></p>
                        <p><a class="link_medsos" href="blog">Blog</a></p>
                        <p><a class="link_medsos" href="bot">BOT</a></p>
                        <p><a class="link_medsos" href="Feedback">Feedback</a></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Alamat</b></h3>
                    </div>
                    <p>
                        JL. Kampus Unimal Bukit Indah Blang Pulo, Kec. Muara Satu, Kabupaten Aceh Utara
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Media Sosial</b></h3>
                    </div>
                    <div class="tabel_a">
                        <div class="tabel1">
                            <table>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="/static/images/medsos/instagram.png" alt="" width="30px"
                                                height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos"
                                                href="https://www.instagram.com/teknikinformatika_unimal/"
                                                target="_blank">teknikinformatika_unimal</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="/static/images/medsos/email.png" alt="" width="30px"
                                                height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos" href="http://mail.google.com/"
                                                target="_blank">informatika@unimal.ac.id</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-4 bg-dark">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="#">Gem BOT</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>