<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous" />
    <title>Rektor Unimal Kukuhkan Dua Guru Besar Ilmu Tanah dan Teknik Informatika</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="home">Gem BOT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="portofolio">Portofolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="bot">BOT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Feedback">Feedback</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="container text-center">
        <div class="row">
            <!--Header Berita Utama-->
            <div class="col-sm-9">
                <div class="header1">
                    <h2 align="center">Rektor Unimal Kukuhkan Dua Guru Besar Ilmu Tanah dan Teknik Informatika</h2>
                    <p class="tanggal card-text" align="center"><small class="text-muted">12 March 2022</small></p>
                    <center><img src="/static/images/berita//beritautama.jpg" class="berita1 img-fluid rounded-start"
                            alt="..."></center>
                </div>

                <!--Isi Berita Utama-->
                <div class="isiberita ">
                    <p>
                        <b>UNIMALNEWS | Lhokseumawe - </b> Universitas Malikussaleh kembali mengukuhkan dua guru besar
                        baru yakni Prof Dr Ir Khusrizal MP dan Prof Dr Ir Dahlan
                        Abdullah MKom IPU ASEAN Eng yang dilaksanakan di Aula Cut Meutia, Kampus Bukit Indah
                        Lhokseumawe, Sabtu (12/3/2022).
                        Keduanya dikukuhkan sebagai guru besar oleh Rektor Universitas Malikussaleh, Prof Dr Herman
                        Fithra ASEAN Eng dalam rapat
                        terbuka senat yang dihadiri oleh seluruh anggota senat dan juga para tamu undangan.
                    </p>
                    <p>
                        Kemudian, pembacaan SK Menteri Pendidikan dan Kebudayaan tentang Pengangkatan dua guru besar itu
                        dilaksanakan oleh Prof
                        Dr Jamaluddin dan diikuti pengalungan tanda kehormatan guru besar baru di Unimal.
                    </p>
                    <p>
                        Prof Dr Ir Khusrizal MP merupakan dosen Ilmu Tanah dan guru besar pertama di Fakultas Pertanian,
                        kemudian Prof Dr Ir
                        Dahlan Abdullah MKom IPU ASEAN Eng salah seorang dosen di Teknik Informatika Fakultas Teknik. Ia
                        juga merupakan guru
                        besar pertama di Prodi Teknik Informatika dan Profesor yang ketiga di fakultas tersebut.
                    </p>
                    <p>
                        Rektor Universitas Malikussaleh, Prof Dr Herman Fithra mengatakan, hari ini akan menjadi hari
                        bersejarah kepada dua
                        orang yaitu Prof Dr Khusrizal dan Prof Dr Dahlan Abdullah di lingkungan Universitas
                        Malikussaleh. "Alhamdulilah tujuan
                        kita bersama menjadikan UnimalHebat di tahun 2024 dan sudah dituangkan dalam naskah akademik ini
                        sudah mulai terlihat,"
                        katanya.
                    </p>
                    <p>
                        Herman menyebutkan, Ditjen Dikti dalam rapat dengan para rektor, mendorong semua dosen untuk
                        segera menapaki jenjang
                        kepangkatan fungsional dan rencananya pada 1 Juli 2021 dosen yang belum Lektor kepala nanti
                        prosesnya akan dilaksanakan
                        di Universitas Malikussaleh.
                    </p>
                    <p>
                        "jadi nanti teman-teman yang masih pada jabatan lektor atau lektor kepala dengan nilai kredit
                        550 sudah bisa siap-siap
                        dengan publikasi yang baik sesuai standar yang ada untuk segera berproses dapat angka kredit 700
                        sebelum menjadi
                        profesor," ungkap Herman.
                    </p>
                    <p>
                        Rektor Unimal juga menyampaikan kabar gembira bagi dosen yang punya profesi sebagai insinyur dan
                        doktor untuk menjadi
                        profesor tidak harus lagi semata-mata lewat jalur akademik. " Insya Allah lewat jalur
                        profesionalnya juga bisa diangkat
                        dalam jabatan profesor. Saya pikir ini terobosan-terobosan yang telah disiapkan oleh kemenristek
                        RI dan pelaksanaanya
                        adalah Dikti, Semoga peluang yang ada ini bisa dimanfaatkan oleh teman-teman semua," sebutnya.
                    </p>
                    <p>
                        Rektor Herman berharap dengan pengukuhan dua profesor pada tahun 2022 ini semoga menjadi spirit
                        dan semangat buat teman
                        yang lain agar cepat menjadi guru besar. Unimal memimpikan dua tahun kedepan enam bulan kedepan
                        ada 22 orang profesor di
                        Unimal.
                        Kemudian di akhir penyampaian kata sambutan, Rektor Universitas Malikussaleh, Prof Dr Herman
                        Fithra menyampaikan titipan
                        kepada para profesor dengan pantun "Burung terbang menari-nari, terbang tinggi jauh ke angkasa.
                        Para profesor wajib
                        menghasilkan inovasi untuk menuju UnimalHebat, Unimal rumah Kita".[tmi]
                    </p>

                    <a class="btn btn-primary" href="Blog.html" role="button">Kembali</a>
                </div>
                <a href="#" class="up-icon"><i class="fas fa-chevron-circle-up"></i></a>
            </div>

            <!--Berita disamping-->
            <div class="sidenews col-sm-3">
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita1" style="text-decoration: none; color:black;">Mahasiswa
                                Teknik Informatika Gelar Pelatihan
                                Karya Tulis Ilmiah</a></h5>
                        <p class="card-text"><small class="text-muted">31 January 2021</small></p>
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita2" style="text-decoration: none; color:black;">Teknik
                                Informatika Unimal Laksanakan Ujian Skripsi Secara Online</a></h5>
                        <p class="card-text"><small class="text-muted">13 April 2020</small></p>
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 17rem; ">
                    <img src="/static/images/berita/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="berita3" style="text-decoration: none; color:black;">HEBAT
                                !!! MAHASISWA TEKNIK INFORMATIKA UNIMAL MERAIH JUARA II LOMBA WEB DESIGN
                                PELINDO III DI SURABAYA </a></h5>
                        <p class="card-text"><small class="text-muted">17 February 2017</small></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Gem BOT</b></h3>
                    </div>
                    <p>
                        Gem BOT adalah sebuah web chatbot yang akan memberikan informasi mengenai prodi
                        Teknik Informatika Universitas Malikussaleh
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Menu</b></h3>
                    </div>
                    <div class="konten">
                        <p><a class="link_medsos" href="home">Home</a></p>
                        <p><a class="link_medsos" href="about">About Us</a></p>
                        <p><a class="link_medsos" href="portofolio">Portofolio</a></p>
                        <p><a class="link_medsos" href="blog">Blog</a></p>
                        <p><a class="link_medsos" href="bot">BOT</a></p>
                        <p><a class="link_medsos" href="Feedback">Feedback</a></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Alamat</b></h3>
                    </div>
                    <p>
                        JL. Kampus Unimal Bukit Indah Blang Pulo, Kec. Muara Satu, Kabupaten Aceh Utara
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="footer_menu">
                        <h3><b>Media Sosial</b></h3>
                    </div>
                    <div class="tabel_a">
                        <div class="tabel1">
                            <table>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="./gambar/medsos/instagram.png" alt="" width="30px" height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos"
                                                href="https://www.instagram.com/teknikinformatika_unimal/"
                                                target="_blank">teknikinformatika_unimal</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="medsos">
                                            <img src="./gambar/medsos/email.png" alt="" width="30px" height="30px">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="medsos2">
                                            <a class="link_medsos" href="http://mail.google.com/"
                                                target="_blank">informatika@unimal.ac.id</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" alt="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" alt="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" alt="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" alt="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" alt="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <img class="wisata" src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <div class="text-center p-4 bg-dark">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">Gem BOT</a>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>